@charset "UTF-8";
html, body, h1, ul {
	padding: 0px;
	margin: 0px;
}
body {
	background-color: gray;
	font-size: 1em;
}
section {
	margin: 0px 20px;
	min-width: 600px;
	background-color: teal;
	box-shadow: 0px 0px 16px 8px rgba( 0, 0, 0, 0.5 );
}
h1 {
	padding: 0px 40px 8px 20px;
	display: inline;
	font-size: 4em;
	text-shadow: 0px 0px 8px black;
	background-color: rgba( 200, 200, 200, 0.9 );
 	border-color: white;
 	border-style: solid;
 	border-width: 0px 4px 4px 0px;
	border-bottom-right-radius: 32px;
	box-shadow: 0px 0px 16px 8px rgba( 0, 0, 0, 0.5 );
}
h2 {
	padding: 20px;
	font-size: 2em;
	background-color: black;
}
h1, h2 {
	color: white;
	font-family: 'Viga', sans-serif;
}
p {
	margin: 20px;
}
#mainNav {
	position: fixed;
	top: 0px;
	right: 0px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position:center; 
	background-color: rgba( 200, 200, 200, 0.9 );
 	border-color: white;
 	border-style: solid;
 	border-width: 0px 0px 4px 4px;
	border-bottom-left-radius: 16px;
	box-shadow: 0px 0px 16px 8px rgba(0, 0, 0, 0.5);
}
#mainMenuIcon {
	width: 40px;
	height: 40px;
	background-image: url(../content/menuIcon.png);
	background-repeat: no-repeat;
	background-position: center;
}
#close{
    display: none;
}
#mainMenu li {
	display: inline;
}
#mainMenu li a {
	font-family: 'Viga', sans-serif;
	font-size: 1.25em;
	text-decoration: none;
	color: white;
	padding: 4px 8px;
	margin: 4px;
	border: 2px dotted rgba(0, 0, 0, 0);
}
#mainMenu li a:hover {
	border-color: white;
}
.videoThumb {
	width: 160px;
	height: auto;
}
#videoNav li {
    display: inline;
  	float: left;
}
#videoPlayer {
	width: 960px;
	margin: 0px auto;
}
#video {	
	width: 100%;
	background-color: black;
}
.codeView {
	font-family: 'Share+Tech', sans-serif;
	color: white;
	background-color: olive;
	margin: 16px;
	padding: 16px;
}
footer{
	display: inline;
	font-family: 'Share+Tech', sans-serif;
	font-size: 0.75em;
	padding: 8px 20px;
	background-color: rgba( 200, 200, 200, 0.9 );
 	border-color: white;
 	border-style: solid;
 	border-width: 4px 4px 0px 0px;
	border-top-right-radius: 16px;
	box-shadow: 0px 0px 16px 8px rgba( 0, 0, 0, 0.5 );
}

@media only screen and (max-width: 1020px) {
	body {
		font-size: 150%;
	}
    #mainMenu {
    	display: none;
    }
    #mainMenuIcon {
        display: block;
    }
    #close {
    	display: inline;
	}
	#mainMenu li {
		display: block;
		padding: 16px;
	}
    #mainMenu:target {
    	display: block;
    }
    #mainMenu:target+#mainMenuIcon {
    	display: none;
    }
    #videoPlayer {
		width: 600px;
	}
	.videoThumb {
		width: 200px;
	}
}

/*
@media not all and (min-width: 1000px) { }
@media all and (min-width: 1000px) { }
*/ 