@charset "UTF-8";
html, body, h1, ul {
	padding: 0px;
	margin: 0px;
}
h1, h2 {
	font-family: 'Viga', sans-serif;
}
h1 {
	font-size: 3em
}
@media not all and (min-width: 1000px) {
    #mainMenu {
    	display: none;
    }
    #mainMenuIcon {
        display: block;
    }
	#mainMenu li {
		display: block;
		padding: 8px;
	}
    #mainMenu:target {
    	display: block;
    }
    #mainMenu:target+#mainMenuIcon {
    	display: none;
    }
}
@media all and (min-width: 1000px) {
    #mainMenu {
        display: block;
    }
    #mainMenuIcon {
        display: none;
    }
	#mainMenu li {
		display: inline;
	}
}
#mainNav {
	position: fixed;
	float: right;
	top: 0px;
	right: 0px;
	padding: 20px;
	background-repeat: no-repeat;
	background-position:center; 
	background-color: rgba( 200, 200, 200, 0.9 );
 	border-color: white;
 	border-style: solid;
 	border-width: 0px 0px 4px 4px;
	border-bottom-left-radius: 16px;
	box-shadow: 0px 0px 8px 8px rgba(0, 0, 0, 0.5);
}
#mainMenu li a {
	font-family: 'Viga', sans-serif;
	font-size: 1.5em;
	text-decoration: none;
	color: white;
	padding: 4px;
	margin: 4px;
	border: 1px dashed rgba(0, 0, 0, 0);
}
#mainMenu li a:hover {
	border-color: white;
}
#mainMenuIcon {
	width: 20px;
	height: 20px;
	float: right;
	background-image: url(../content/menuIcon.png);
	background-repeat: no-repeat;
	background-position: center;
	
}
#videoNav li {
	/*display: inline;*/
	padding: 0px;
	margin: 0px;
}
#dndVideoPlayer {
	background-color: teal;
	padding: 0px;
	margin: 0px;
	/*border-box?*/
}
#video {
	padding: 0px;
	margin: 0 auto;
	max-width: 960px;
	max-height: 720px;
	min-width: 360px;
	min-height: 240px;
	background-color: blue;
}
footer{
	bottom: 0px;
	right: 0px;
	text-align: right;
}