@charset "UTF-8";
body {
	font-size: 1.25em;
	background-color: #eeeeee;
	min-width: 480px;
	max-width: 1280px;
}
.labelCol {
	margin: 4px;
		padding: 4px;
	display: inline-block;
	width: 15%;
	text-align: right;
	float: left;
}
.inputCol {
		margin: 4px; 
		padding: 4px;
	display: inline-block;
		box-sizing: border-box;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
	width: 40%;
	max-width: 400px;
	font-size: 1em;
}
.messageCol {
	margin: 4px;
		padding: 4px;
	display: inline-block;
	width: 20%;
}		
.totalCol {
	margin: 4px;
	padding: 4px;
	display: inline-block;
	float: right; 
	width: 20%;
	border-bottom: 1px dashed grey;
	color: green;
}
div.formItem {
	margin: 4px;
		padding: 4px;
}
.errorMessage {
	color: red;
}
.loading {
	display: block;
		background: url(circle.gif) no-repeat;
	min-width: 32px;
	min-height: 32px;
}